<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
    </head>
    <body>
        <div class="bloc_principal_voitures">dfdgfdfg</div>
        <p>
            <span style="border:1px dotted black">0000000
            <span style="margin:8px;background:green;">111111</span>
            <span>222222</span>
        </p>
    </body>
</html>